
.explore-menu {
    display: flex; /* Define un contenedor flexible */
    flex-direction: column; /* Establece la dirección de los elementos secundarios en columna */
    gap: 20px; /* Añade un espacio de 20 píxeles entre los elementos secundarios */
}

.explore-menu h1 {
    color: #262626; /* Establece el color del texto del título */
    font-weight: 500; /* Establece el peso de la fuente del título */
}

.explore-menu-text {
    max-width: 60%; /* Establece el ancho máximo del texto como el 60% del contenedor principal */
    color: #808080; /* Establece el color del texto */
}

.explore-menu-list {
    display: flex; /* Define un contenedor flexible */
    justify-content: space-between; /* Distribuye los elementos secundarios con espacio igual entre ellos */
    align-items: center; /* Alinea los elementos secundarios verticalmente en el centro del contenedor */
    gap: 30px; /* Añade un espacio de 30 píxeles entre los elementos secundarios */
    text-align: center; /* Centra el texto dentro de los elementos secundarios */
    margin: 20px 0px; /* Añade un margen de 20 píxeles en la parte superior e inferior */
    overflow-x: scroll; /* Habilita el desplazamiento horizontal si el contenido excede el ancho del contenedor */
}

/* Oculta la barra de desplazamiento horizontal en navegadores basados en WebKit (como Chrome y Safari) */
.explore-menu-list::-webkit-scrollbar {
    display: none; /* No muestra la barra de desplazamiento horizontal */
}

.explore-menu-list-item img {
    width: 7.5vw; /* Establece el ancho de la imagen como el 7.5% del ancho de la ventana gráfica */
    min-width: 80px; /* Establece un ancho mínimo de 80 píxeles para la imagen */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen, indicando que es clicable */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    transition: 0.2s; /* Aplica una transición suave a las propiedades animadas en 0.2 segundos */
}

.explore-menu-list-item p {
    margin-top: 10px; /* Añade un margen superior de 10 píxeles */
    color: #747474; /* Establece el color del texto */
    font-size: max(1.4vw, 16px); /* Establece el tamaño de la fuente como el máximo entre el 1.4% del ancho de la ventana gráfica y 16 píxeles */
    cursor: pointer; /* Cambia el cursor al pasar sobre el texto, indicando que es clicable */
}

/* Estilos para los separadores (líneas horizontales) */
.explore-menu hr {
    margin: 10px 0px; /* Añade un margen de 10 píxeles en la parte superior e inferior */
    height: 2px; /* Establece la altura de la línea horizontal en 2 píxeles */
    background-color: #e2e2e2; /* Establece el color de fondo de la línea horizontal */
    border: none; /* Elimina cualquier borde predeterminado de la línea horizontal */
}

/* Estilos para los elementos activos del menú de exploración */
.explore-menu-list-item .active {
    border: 4px solid tomato; /* Establece un borde de 4 píxeles con color tomate alrededor del elemento activo */
    padding: 2px; /* Añade un padding de 2 píxeles alrededor del elemento activo */
}

